@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background-color: #08020e;
}
.container {
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}
.fo {
  font-family: "Fontdiner Swanky", serif;
}
.ma {
  font-family: "Markazi Text", serif;
}
/* * {
  background-color: #202326;
} */
/* Custom class for gradient border */
/* Custom class for gradient border */
.gradient-border {
  border-image: linear-gradient(to right, #e9d5ff, #1e3a8a) 1;
}

.co {
  font-family: "Courier Prime", monospace;
}
.pop {
  font-family: "Poppins", sans-serif;
}

.r {
  font-family: "Roboto", sans-serif;
}
.lond {
  font-family: "Londrina Outline", serif;
}
